<% provide(:title, "About") %>
<title>Marshall Twitter <%= yield(:title) %> </title>
<h1> Welcome to Marshall's Twitter Page! </h1>
<p> About me: My name is Marshall. I am a 3rd year studying Computer Science at UCSD, and currently I am trying to learn Ruby on Rails
</p>
