<h1> Mwitter </h1>

<p> HI <%= @user.name %>,</p>

<p>
 Welcome to Mwitter: Marshall's Version of Twitter! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>